.btn1, .btn2, .btn3 {
	background: url(mid.png);
	width: 204px;
	height: 47px;
	border: none;
	font: 25px Arial;
	text-align: center;
	padding: 0 20px;
	border-radius: 20px;
	box-shadow: 2px 5px 5px rgba(142, 144, 143, .75);
	float: left;
	margin-right: 10px;
}

.btn1 {
	text-transform: uppercase;
}
.btn3 {
	
	font: 15px bold;

}
.btn3 form {
	
	width: 204;
	height: 47px;
}
.btn3 form input{
	background: transparent;
	border: none;
	width: 204;
	height: 47px;
	padding: 0;
}