﻿html, body, h1, h2, h3, h4, ul, li {
    margin: 0;
    padding: 0;
}

html, body, #wrapper {
    background-color:#FFFFFF;
    text-align: left;
}
body
{
    padding-top:10px;
    font: 11px verdana, arial, sans-serif;
}

#wrapper {
    width:780px;
    margin:auto;

}

#logo h1 {
    padding-top: 30px;
    font: 24px "arial narrow", arial, sans-serif
}

#wrapper .left #logo {
    width: 244px;
    height: 152px;
    color:#595959;
    text-align:center;
    background:url(header-title.jpg) no-repeat;
}

#logo p {
    margin: 8px 25px 4px 25px;
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
    padding: 3px;
    letter-spacing: 0.2em;
    font-weight: bold;

}

#wrapper .nav {
    width:243px;
    background:url(nav-background.png);
}

#wrapper .nav ul {
    margin-left: 9px;
    padding-left: 1px;
    padding-bottom: 29px;
    background: #2A2A2A bottom left url(nav_bot.jpg) no-repeat;
}

#wrapper .nav ul li {
    list-style: none;
    font: 14px "arial narrow", arial, sans-serif;
    border-top: 1px solid #959595;
    background: 188px 10px url(arr_orange.gif) no-repeat;
    padding: 7px 0 0 31px;
}

#wrapper .nav ul li a {
    color: #fff;
    text-decoration: none;
    border-left: 1px solid #959595;
    padding-left: 10px;
    display: block;
    width: 90%;
    padding: 2px 0 6px 8px;
}