div.menu {
    
}
ul {
    width:523px;
    height:48px;
    background:url(background.png);
	border:1px #cfcfcf solid;
    border-radius:10px;
    font: bold 16px Arial;
    padding:0px;
}
ul li {
    border-right:1px #cfcfcf solid;
    height:48px;
    display:inline-block;
    text-transform:uppercase;
    padding:0 18px 0 18px;
    text-align:center;
    line-height:50px;
    
}
ul li a {
    text-decoration: none;
    color:#A7162E;
}
 body ul li:last-child {
    border-right: none;
}