﻿html, body, header, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

body #wrapper {
    margin: 0 auto;
    width: 1000px;
    border:3px solid #e1ebf7;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

/* Float and Clean */
#wrapper,
#header,
#copyrights,
#first-new
{
    zoom:1;
}

#wrapper:after,
#header:after,
#copyrights,
#first-new
{
    content: "";
    clear:both;
    display:block;
}


/* Header */
#header {
    width:1000px;
}


#logo { 
    float:left;  
    font:30px 'Arial';
    font-style:italic;
    padding:15px 40px;
    text-align:center;
    color:#ffffff;
    background:#59518c;

}

#wide-logo {
    float:left;
    width:841px;
    height: 64px;
    
}

/*Nav menu (left cont)*/
#left {
    width:160px;
    float:left;
}

#left ul li a{
    color:#006699;
}
#left ul li {
    list-style-type:square;
}
#left p:first-child{
    padding-top:20px;
}
#left p {
    font:20px "Arial";
    color:#424284;
    padding-left:22px;
    padding-top:10px;
    padding-bottom:5px;
    
}

.nav-today, .nav-life {
    margin-top:0px;
    padding-left:37px;
   
}

/*Mid con*/
.star-tags {
   padding:10px;
}

.star-tags ul {
    margin:0;
    list-style:none;
    padding: 0px;
    color:#6d64a3;
    font-family: fantasy;
    
}


#main-content {
    background-color:#e6def5;
    width: 600px;
    float:left;
}

#mid-news {
    background:#f9f4fd;
    width: 590px;
    margin-left: 4px;
}

#first-new {
    float:left;
    margin-bottom:10px;
}

#first-new h3 {
    margin:0px;
    margin-top:35px;
    margin-bottom:5px;
}

#first-new h3 a {
   color:#c41e89;
}

#first-new p{
    color:#4b3e82;
}

#first-new .news-post {
    color:#4b3e82;
    font-size:16px;
    margin: 0px;
    
}

#first-new img {
    padding:10px;
    float:left;
}


.right-con {
    width:235px;
    float:right;
}

.post-news {
    width:577px;

}

.post-text {
    color:#4b3e82;
    padding-left: 12px;

}

.last-elem {
    margin-bottom: 4px;
    padding-bottom: 100px;
    padding-left: 30px;
    color:#ff6600;
    list-style-type:square;
}

.right-con-img {
    float:left;
    padding: 9px;
    padding-top: 25px;
}

.right-content p {
    font: 15px normal;
    padding: 14px 10px;
}

.first-tags {
    width: 112px;
    padding-left: 28px;
    margin: 0px;
    float: left;
    color:#ff6600;
    list-style-type:square;
}

.second-tags {
    margin: 0px;
    color:#ff6600;
    list-style-type:square;
}

#copyrights {
    width:981px;
    text-align:center;
    padding:10px;
    background:#59518c;
    color:#ffffff;
}


